*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

li{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: #0261bf;
    transition: background .3s ease;
}

main{
    height: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    padding: 0 15px;

}

.menu{
    padding: 32px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &-nav{
            display: flex;
            flex-wrap: wrap;
            li{
                a{
                    display: block;
                    color: #fff;
                }
                & + li{
                    margin-left: 16px;
                }
            }
           
        }
    }
}

.conteudo{
    padding-top: 32px;
    height: 100%;
    &__wrapper{
        display: grid;
        grid-template-columns: 55% 45%;
        justify-content: space-between;
        align-items: flex-center;
        @media(max-width: 767px){
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-text{
            padding-top: 32px;
            h1{
                font-size: 4rem;
                color: #fff;
                line-height: 140%;
                @media(max-width: 767px){
                    font-size: 2rem;
                    text-align: center;
                }
                span{
                    display: block;
                    font-size: 6rem;
                    font-weight: 700;
                    @media(max-width: 767px){
                        font-size: 3rem;
                    }
                }
              
            }
            p{
                font-size: 1.125rem;
                font-weight: 150%;
                color:#fff;
                margin-top: 16px;
                @media(max-width: 767px){
                    font-size: 0.875rem;
                    text-align: center;
                }
            }
            .btn{
                display: inline-flex;
                background: #fff;
                padding: 8px 32px;
                border-radius: 20px;
                color: #000;
                font-weight: 600;
                margin-top: 32px;
                @media(max-width: 767px){
                    font-size: 0.875rem;
                    margin-top: 16px;
                    align-items: center;
                }
            }
        }
        &-img{
            display: flex;
            justify-content: flex-end;
            @media(max-width: 767px){
                margin-top: 32px;
            }
            img{
                object-fit: cover;
                transition: 5s ease;
                @media(max-width: 767px){
                    max-width: 150px;
                }
                
                
            }
        }
    }
}

.switch__content{
    display: flex;
    justify-content: center;
    margin: 32px 0;
    img{
        max-width: 60px;
        @media(max-width: 767px){
            max-width: 40px;
        }
        & + img{
            margin-left: 32px;
        }
    }
}